.icon {
  font-size: 5.25rem !important;
}

.text {
  font-size: 4rem;
    margin-left: 8%
}

agm-map {
  height: 300px;
}

.popup {
  display: flex;
    margin-left: 42px;
    margin-bottom: 0;
}

 .ngx-datatable {
  overflow: visible !important;
}
.datatable-pager {
  position: absolute;
  top: -56px;
  right: 0;
}
